<div class="card-footer bg-transparent border-success container-fluid">
  <div>
    <div class="row m-2">
      <div class="col-sm m-2 mr-md-0" >
        <img src="" alt="Logo"/>
        <p style="width: 300px;">
          A rede social EmpowerEnergy tem o intuito de conectar interessados no
          tema Energias Renováveis, seja para discutir sobre o assunto, ver
          opiniões de outras pessoas, apoiar projetos relacionados ao tema,
          fazer networking e futuramente, adquirir potenciais produtos que foram
          viabilizados através da nossa plataforma de crowdsourcing.
        </p>
      </div>

      <div class="col-sm m-2 mr-md-0">
        <p style="width: 300px;">
          Somos uma empresa de software para ajudar você que pensa em um futuro
          melhor pensando em econômida de energia. Fazendo com que seus projetos
          e planos cheguem a outras pessoas.
        </p>
      </div>

      <div class="col-md-3 mr-md-0">
        <div class="card-img-container">
          <a href="#">
            <figure>
              <img style="width: 100px; height: 100px;"
                src="https://www.justice4you.com/assets/media/images/2017/bg-offices-long-beach.jpg"
              />
            </figure>
          </a>
          <div class="card-info">
            <div class="card-address">
                <p>
                  111 W. Ocean Boulevard, <br />
                  Fourth Floor,<br />
                  Long Beach, CA 90802
                </p>
            </div>
          </div>
        </div>
</div>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="font-weight-bold"
              >Junte-se a nós!
            </label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Seu email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >Nunca vamos compartilhar seu email, com ninguém.</small
            >
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
 </div>
