.tm{
    width: 200px;
    height: 200px;
    margin-top: -180px;
}

.tm-2{
    width: 190px;
    height: 200px;
    margin-right: -431px;
    margin-top: -150px;
}

.perfil{
    margin-left: 165px;
    padding: 12px;
}

.pa{
margin-right: -220px;
}