<div class="container perfil">
  <div class="row d-flex ">
    <div class="col-md-9 p-0 d-flex justify-content-center">
      <div class="container p-0">
        <div class="card-img-bottom">
          <div class="card-body p-0">
            <div class="card-info">
              <div class="row d-flex card-address container-fluid  pr-0">
                <img
                  class="card-img-bottom rounded"
                  src="assets\img\exemplo capa.jfif"
                  alt="Imagem de capa do card"
                />

                <div class="row d-flex justify-content-evenly">
                  <div class="col-md-9 ml-3">
                  <img src="{{ foto }}" alt="..." class="img-thumbnail tm1 ml-3" />
                  <div class="container ml-2">
                    <h3>
                      <strong>
                        {{ user.nomeUsuario }} {{ user.sobrenomeUsuario }}
                      </strong>
                    </h3>
                    <p class="text-justify">
                      {{ user.profissaoUsuario }}
                    </p>
                  </div>
                </div>

                <div class="col-md-2 mr-0">
                  <div class="container-fluid tm-2 pr-0">
                    <a
                      class="
                        nav-link
                        dropdown-toggle
                        text-white
                        btn btn-outline-success
                      "
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="modal"
                      data-target="#editarUsuario"
                      aria-expanded="false"
                      type="button"
                      style="background-color: #57ae09"
                    >
                      Editar Perfil
                    </a>
                  </div>
                </div>
                </div>

              </div>
            </div>

            <!-- Postagens do Usuário -->
            <h1>Teste</h1>
            <div class="container my-2" *ngFor="let item of user.minhasPostagens | orderBy: key:reverse">
              <div class="row d-flex justify-content-center mr-1">
                <div class="col-md-8 p-0">
                  <div class="postagem-container rounded p-0">
                    <div
                      class="row d-flex justify-content-center pt-3 mb-3 mx-0"
                    >
                      <div class="col-md-1 mr-1">
                        <img
                          class="rounded-circle bg-info"
                          height="45px"
                          width="45px"
                          src="{{ item.usuario.fotoUsuario }}"
                          alt=""
                        />
                      </div>

                      <div class="col-md-9">
                        <div class="mr-2">
                          <h6 class="text-muted">
                            {{ item.usuario.nomeUsuario }}
                            {{ item.usuario.sobrenomeUsuario }}
                          </h6>
                        </div>

                        <div class="mr-3">
                          <small class="text-muted"
                            >Data:
                            {{ item.dataPostagem | date: "dd/MM/yyyy" }} às
                            {{ item.dataPostagem | date: "HH:mm" }}
                          </small>
                        </div>
                      </div>

                      <!-- Edição e deleção apenas se o usuário for dono da postagem -->
                      <div class="col-md-1 pl-0">
                        <a
                          *ngIf="idUser === item.usuario.idUsuario"
                          data-toggle="modal"
                          data-target="#editarPostagem"
                          href="#editarPostagem"
                          ><i
                            class="fa fa-pencil mr-1"
                            aria-hidden="true"
                            (click)="findByIdPostagem(item.idPostagem)"
                          ></i
                        ></a>

                        <a
                          *ngIf="idUser === item.usuario.idUsuario"
                          class="cursor-pointer"
                          ><i
                            class="fa fa-trash ml-2"
                            style="color: red; cursor: pointer"
                            aria-hidden="true"
                            (click)="deletarPostagem(item.idPostagem)"
                          ></i
                        ></a>
                      </div>

                      <div
                        class="
                          row
                          d-flex
                          justify-content-center
                          w-100
                          mt-3
                          mx-0
                        "
                      >
                        <div class="col-md-11">
                          <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                              <h5 class="text-align mb-0 align-items-center">
                                {{ item.titulo }}
                              </h5>
                            </div>

                            <div class="col-md-2 d-flex justify-content-end">
                              <button
                                *ngIf="item.tema.tema === 'Eólica'"
                                type="button"
                                class="btn btn-success"
                                disabled
                              >
                                {{ item.tema.tema }}
                              </button>

                              <button
                                *ngIf="item.tema.tema === 'Solar'"
                                type="button"
                                class="btn btn-warning"
                                disabled
                              >
                                {{ item.tema.tema }}
                              </button>

                              <button
                                *ngIf="item.tema.tema === 'Hídrica'"
                                type="button"
                                class="btn btn-primary"
                                disabled
                              >
                                {{ item.tema.tema }}
                              </button>

                              <button
                                *ngIf="item.tema.tema === 'Biomassa'"
                                type="button"
                                class="btn btn-outline-secondary"
                                disabled
                              >
                                {{ item.tema.tema }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="
                          row
                          d-flex
                          justify-content-center
                          mt-2
                          mx-0
                          w-100
                        "
                      >
                        <div class="col-md-11">
                          <p class="mb-0 text-justify">{{ item.descricao }}</p>
                        </div>

                        <div
                          class="row d-flex justify-content-start w-100 ml-5"
                        >
                          <p class="text-primary">{{ item.hashtag }}</p>
                        </div>
                      </div>

                      <div class="row d-flex justify-content mt-1 mx-0 mb-4">
                        <div class="col-md-12">
                          <img
                            src="{{ item.imagem }}"
                            height="400px"
                            width="580px"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edição Usuário -->
<div class="modal" id="editarUsuario" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Usuario</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            [(ngModel)]="user.nomeUsuario"
            type="text"
            class="form-control"
            name="nome"
            id="nome"
            rows="1"
            placeholder="Digite seu nome aqui"
            required
          />
          <div class="invalid-feedback">
            Por favor, digite um título para sua user.
          </div>
        </div>

        <div class="form-group">
          <label for="sobrenome">Sobrenome</label>
          <textarea
            [(ngModel)]="user.sobrenomeUsuario"
            type="text"
            class="form-control"
            value=""
            name="sobrenome"
            id="sobrenome"
            rows="1"
            placeholder="Digite seu sobrenome aqui"
            required
          ></textarea>
          <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
          <label for="profissaoUsuario">Profissão</label>
          <input
            [(ngModel)]="user.profissaoUsuario"
            class="form-control"
            type="text"
            name="profissaoUsuario"
            id="profissaoUsuario"
            placeholder="Ex: Desenvolvedor(a) Full Stack Jr | Java Developer | Scrum | Spring Boot | MySQL | Python | HTML | CSS | JS "
          />
          <div class="invalid-feedback">
            A Profissão precisa ter no mínimo 5 letras.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            [(ngModel)]="user.emailUsuario"
            class="form-control"
            name="email"
            id="email"
            rows="1"
            placeholder="Digite seu email aqui"
          />
        </div>

        <div class="form-group">
          <label for="idade">Idade</label>
          <input
            [(ngModel)]="user.idadeUsuario"
            class="form-control"
            name="idade"
            id="idade"
            rows="1"
            placeholder="Digite sua idade aqui"
          />
        </div>

        <div class="form-group">
          <label for="foto">Foto</label>
          <input
            [(ngModel)]="user.fotoUsuario"
            class="form-control"
            name="foto"
            id="foto"
            rows="1"
            placeholder="Cole o link da sua foto aqui"
          />
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            type="password"
            class="form-control"
            name="senha"
            id="senha"
            rows="1"
            placeholder="Digite sua nova senha aqui"
            (input)="confirmSenha($event)"
          />
        </div>

        <div class="form-group">
          <label for="confirmaSenha">Confirmar Senha</label>
          <input
            [(ngModel)]="user.senhaUsuario"
            type="password"
            class="form-control"
            name="confirmaSenha"
            id="confirmaSenha"
            rows="1"
            placeholder="Confirme sua nova senha aqui"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="editarUsuario()"
          data-dismiss="modal"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
