.tm{
    /* width: 200px;
    height: 200px; */
    margin-top: -130px;
}

.tm1{
  width: 200px;
  height: 200px;
  margin-top: -130px;
}

.tm-2{
    width: 150px;
    height: 200px;
    margin-right: -80px;
    margin-top: 82px;
}

.perfil{
    margin-left: 235px;
    margin-top: 75px;

  }


