<div class="container mt-4 perfil">
  <div class="row">
    <div class="col-md-10">
      <div class="container">
        <div class="card-img-bottom">
          <div class="card-body">
            <div class="card-info">
              <div class="card-address container-fluid">
                <img
                  class="card-img-bottom"
                  src="assets\img\exemplo capa.jfif"
                  alt="Imagem de capa do card"
                />
                <div class="col-md-6">
                  <img
                    src="https://i.imgur.com/24xNilF.jpg"
                    alt="..."
                    class="img-thumbnail tm"
                    />
                  <div class="container">
                    <h1>Kauana Andrade</h1>
                    <p>
                      Desenvolvedora Full Stack Jr | Java Developer | Scrum | Spring Boot | MySQL | Python | HTML | CSS | JS
                    </p>
                   
                  </div>

                  <div class="container-fluid tm-2">
                    
                    <a class="nav-link dropdown-toggle text-white btn btn-outline-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: #57AE09;">
                      Editar Perfil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Sair</a>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
