<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="card-img-bottom">
            <div class="card-body">
                <div class="card-info">
                    <div class="card-address container-fluid">
          <img
            class="card-img-bottom"
            src="assets\img\exemplo capa.jfif"
            alt="Imagem de capa do card"
          />
          
            <img
              src="https://i.imgur.com/24xNilF.jpg"
              alt="..."
              class="img-thumbnail tm" style=""
            />

                <p>
                  111 W. Ocean Boulevard, <br />
                  Fourth Floor,<br />
                  Long Beach, CA 90802
                  <button class="border-sucess"> Editar perfil
                </button>
                </p>
                
              </div>
              <div class="col-md-6">
                 
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   
</div>
