<div class="container-fluid fixed-top mb-5"  style="background-color: rgb(230, 227, 227);">
  <!-- criação da navBar -->
  
    <nav class="navbar navbar-expand-lg ">
      <p class="form-check-inline"></p>
      <form class="my-2 my-lg-0">
        <a><i class="fa fa-search" aria-hidden="true" style="margin: 20px;"></i></a>
        <input
          class="border border-secondary"
          type="search"
          placeholder="Search"
          aria-label="Search"
          />
      </form>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div style="margin-left: 50vw;">
        <a class="navbar-brand text-dark" routerLink="\laging">
          <i class="fa fa-home fa-1x" aria-hidden="true"> </i>
          Home
        </a>
      </div>

      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        class="margin-left: 40px"
      >
        <ul class="navbar-nav mr-auto">
          <div>
            <li class="nav-item active">
              <a class="nav-link text-dark" href="#">
                <i class="fa fa-window-restore" aria-hidden="true"></i>
                Projetos <span class="sr-only">(current)</span>
              </a>
            </li>
          </div>

          <div  class="margin-left: 40px">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">
                <i class="fa fa-comments" aria-hidden="true"></i> Mensagens</a
              >
            </li>
          </div>
          <div  class="margin-left: 40px">
            <li class="nav-item">
              <a class="nav-link text-dark" routerLink= "/perfil">
                <i class="fa fa-user-o" aria-hidden="true"></i> Perfil </a
              >
            </li>
          </div>
        </ul>
      </div>
    </nav>
  
</div>
