.tm{
    width: 17vw;
    height: 2vw;
}
.ft{
    font-size: 16pt;
}

.marginleft{
  margin-left: 220px;
}
/* SIDEBAR COR HOVER */
.sidebar-navigation::before{
  background-color:  #57AE09;
  color:  #ffffff;
  position: absolute;
  content: '';
  height: 2px;
  width: 59px;
  /* left: 0; */
  top: 0;
  -webkit-transition: height 0.2s ease-in;
  transition: height 0.3s ease-in;
  /* width: 3px; */
  z-index: -1;
}

.sidebar-navigation:hover::before {
  height: 100%;

}

.hoverIcone:hover .fa {
  color: #57AE09;
}
