* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.posicionamento{
  position: absolute;
  top: 60px;
  height: 80vh;
  width: 20%;
  right: 0px;
}

/* SIDEBAR */
.wrapper-right {
  display: flex;
  position: relative;
}
.wrapper-right .sidebar-right {
  position: fixed;
  /* right:900px; */
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  font-size: 19px;
  border-right: 0.5px solid #e6ecf0;
  /* margin-left: 40px; */
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    right: -40px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
    color: #9593A0;
  }


button,
input {
  overflow: visible;
}

/* BOX-SHARE TAMANHO*/
.box-share {
  width: 340px;
  height: -90px;
   /* margin: 20px; */
  margin-right: 60px;
  border-radius: 10px;
  background-color: #eaebed;
}

.grid-share {
  padding: 10px;
  margin-top: -10px;
  display: grid;
  grid-template-columns: 18% 60% auto;
  transition: 0.5s;
}

.grid-share:hover {
  transition: 0.5s;
  background-color: #eaebed;
}

.txt-share {
  font-size: 18.5px;
  padding: 10px;
}
.img-share {
  height: 49px;
  width: 49px;
  border-radius: 50px;
}

/* BUTTON SIGNUP */
.button-signup {
  display: inline-block;
  font-weight: 400;
  color: #57ae09;
  height: auto;
  width: 78px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;

  /* BORDER RADIUS */
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  border: 1px solid #254330;
  cursor: pointer;
  background-color: transparent;
}


/* SEGUNDA SIDEBAR */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* SIDEBAR */
section {
  width: 350px;
  margin: -50px auto;
  padding: 25px 35px;
  border: 2px solid var(--mainColor);
   /* margin-right: 90px */
}
section > div {
  position: relative;
  margin-block: 45px;
  width: 300px;
}
section div .heading {
  width: fit-content;
  margin-bottom: 25px;
  position: relative;
}
section div .heading::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -85px;
  width: 70px;
  height: 2px;
  background-color: var(--mainColor);
}
section .list ul li {
  list-style: none;
  margin: 40px 0;
  color: #6e6b66;
  position: relative;
}
section .list ul li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #ddd;
}
section .list ul li::after {
  content: attr(data);
  position: absolute;
  top: -5px;
  right: 5px;
  padding: 5px;
  background-color: #ddd;
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section .gallery .content {
  display: flex;
  align-items:center;
  flex-flow: row wrap;
  gap: 10px;
}
section .gallery .content img {
  border: 2px solid var(--mainColor);
  width: calc((100% - 20px) / 3);
  height: 85px;
}
section .archives ul {
  margin-right: 17px;
}
section .archives ul li {
  padding-right: 15px;
  margin-block: 30px;
}
section .archives ul li::marker {
  content: "\f07b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: var(--mainColor);
}

section .sidebar-container {
  /* position: fixed; */
  width: 720px;
  height: 100%;
  margin-right: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
  color: #9593A0;
}


/* ESQUIMINHA DE IMAGEM  */

/* max-width: 100%;
  height: auto;
  display: block;


width: 90%;
  height: 70%;
  object-fit: cover; */
