.imagemLogo{

/* min-height: 100vh; */
   
height: 200px;
 width: 300px;
 right: 100px;
/* background-position: center; */
   background-repeat: no-repeat;
   background-size:cover;
}

.tm{
    margin-top: -30px;
}



.bg{
    /* height: 100%; */
    /* width: 100%; */

    min-height: 90px;
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#cad{
    color: #C2A83E;

}