<div class="container-fluid" style="background-color: #eaebed">
  <div class="row">
    
    
    <!-- <div class="col-md-6 d-flex flex-column">
      <img class="imagemLogo"
        src="('../../../../assets/img/logo2.png "
        alt="foto do cadastro"
      />
    </div> -->

    <div class="container col-md-6 d-flex flex-column"> 
      <img class="imagemLogo"
        src="('../../../../assets/img/logo2.png "
        alt="foto do cadastro"/>

      <img class="tm bg"
        src="('../../../../assets/img/fotoCadastrar5-removebg-preview.png "
        alt="foto do cadastro2" />
        
    </div>

    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="row mb-5 pl-3">
            <!-- <h1 id="emp">Empower</h1> -->
            <!-- <h1 id="cad">Energy</h1> -->
          </div>


          <h1 class="text-center" id="cad">Cadastre-se</h1>
          <!-- <h4 class="text-center" >Bem-vindes</h4> -->

          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              [(ngModel)]="user.nomeUsuario"
              class="form-control"
              type="text"
              name="nome"
              id="nome"
              placeholder="Como gostaria de ser chamade?"
            />
          </div>

          <div class="form-group">
            <label for="sobreNome">Sobrenome</label>
            <input
              [(ngModel)]="user.sobrenomeUsuario"
              class="form-control"
              type="text"
              name="sobreNome"
              id="sobreNome"
              placeholder="Insira seu Sobrenome"
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              [(ngModel)]="user.emailUsuario"
              class="form-control"
              type="text"
              name="email"
              id="email"
              placeholder="Insira seu Email"
            />
          </div>

          <div class="form-group">
            <label for="idade">Idade</label>
            <input
              [(ngModel)]="user.idadeUsuario"
              class="form-control"
              type="number"
              name="idade"
              id="idade"
              placeholder="Insira a sua Idade"
            />
          </div>

          <div class="form-group">
            <label for="foto">Link da Foto</label>
            <input
              [(ngModel)]="user.fotoUsuario"
              class="form-control"
              type="text"
              name="foto"
              id="foto"
              placeholder="Link da sua Foto"
            />
          </div>

         <div class="d-flex justify-content-between w-100">
          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              (input)="confirmSenha($event)"
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="Insira a sua Senha"
            />
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirme sua Senha</label>
            <input
              [(ngModel)]="user.senhaUsuario"
              class="form-control"
              type="password"
              name="confirmSenha"
              id="confirmSenha"
              placeholder="Insira a sua Senha"
            />
          </div>
         </div>

          <div class="form-group">
            <label for="tipo">Tipo de Usuario:</label>
            <select class="form-control" name="tipo" id="tipo">
              <option>Selecione um tipo de usuario:</option>
              <option value="normal">Normal</option>
              <option value="adm">Administrador</option>
            </select>
          </div>

          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-danger mr-4"
              routerLink="/entrar"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-success mr-4"
              (click)="cadastrar()"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
