img{

/* min-height: 100vh; */
   
height: 280px;
 width: 100%;
 left: 100px;
/* background-position: center; */
   background-repeat: no-repeat;
   background-size:cover;
}


   #cad{
       color: #C2A83E;
   
   }
   
   #emp{
       color: #00B295 ;
   }