.imagemLogo{

/* min-height: 100vh; */
   
height: 190px;
 width: 330px;
 right: 100px;
/* background-position: center; */
   background-repeat: no-repeat;
   background-size:cover;
}

.tm{
    margin-top: -20px;
}



.bg{
    /* height: 100%; */
    /* width: 100%; */

    /* min-height: 500px; */
    height: 65%;
    width: 110%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#cad{
    color: #C2A83E;

}