#img-bg{
    background-image: url('../../assets/img/fotoEntrar2-removebg-preview.png');

    min-height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-gold{
    color: #C2A83E;
}

.text-verde{
    color: #57AE09;
}

btn-outline:hover{
    color: white; 
}

.verde{
    color: #00b295;
}

img{

     min-height: 5vh;
     height: 150px;
     width: 55%;
    
    background-position:left;
    background-repeat: no-repeat;
    background-size:cover;
    }

