#img-bg{
    background-image: url('../../assets/img/fotoEntrar.jpg');

    min-height: 900px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-gold{
    color: #C2A83E;
}

.text-verde{
    color: #57AE09;
}

.verde{
    color: #00b295;
}

img{

     min-height: 5vh;
     height: 200px;
     width: 100%;
     left: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    }

