<div class="sidebar-container">
  <div class="img-1 d-flex justify-content-center">
    <img
      src="/assets/img/logobranco.svg"
      alt="foto do logo"
      width="150px"
      height="72px"
    />
  </div>

  <ul class="sidebar-navigation">

    <p>
      <li>
        <a href="#">
          <i class="fa fa-home mr-4" aria-hidden="true"></i> Homepage
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-tachometer mr-4" aria-hidden="true"></i> Dashboard
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-users mr-4" aria-hidden="true"></i> Amigos
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-cog mr-4" aria-hidden="true"></i> Configurações
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-info-circle mr-4" aria-hidden="true"></i> Informações
        </a>
      </li>
    </p>
  </ul>

  <div class="row d-flex justify-content-center mb-3">
    <img
      src="/assets/img/menu esquerdo.png"
      alt="desenho menu esquerdo"
      width="180px"
      height="160px"
    />
  </div>


    <button type="submit" class="btn btn-success rounded-pill mx-4">
      Teste a nossa versão Premium.
    </button>

</div>

<div class="content-container">
  <div class="container-fluid"></div>

  <div class="col-md-6 d-flex justify-content-center"></div>
</div>
