<div class="sidebar-container">
  <div class="img-1">
    <img
      src="('../../../../assets/img/logo2.png "
      alt="foto do logo"
      width="220px"
      height="110px"
    />
  </div>

  <ul class="sidebar-navigation">
    <li class="header">Menu</li>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-home mr-4" aria-hidden="true"></i> Homepage
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-tachometer mr-4" aria-hidden="true"></i> Dashboard
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-users mr-4" aria-hidden="true"></i> Amigos
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-cog mr-4" aria-hidden="true"></i> Configurações
        </a>
      </li>
    </p>

    <p>
      <li>
        <a href="#">
          <i class="fa fa-info-circle mr-4" aria-hidden="true"></i> Informações
        </a>
      </li>
    </p>
  </ul>

  <p>
    <img
      src="../../assets/img/menu esquerdo.png"
      alt="desenho menu esquerdo"
      width="180px"
      height="160px"
    />
  </p>

  <div mr-4 class="teste">
    <button type="submit" class="btn mr-2">
      Teste a nossa versão Premium.
    </button>
  </div>
</div>

<div class="content-container">
  <div class="container-fluid"></div>

  <div class="col-md-6 d-flex justify-content-center"></div>
</div>
