.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #EAEBED;
    color: #9593A0;
  }

  .content-container {
    padding-top: 20px;
  }

  /* .sidebar-logo { */
    /* padding: 10px 15px 10px 30px; */
    /* font-size: 20px; */
    /* background-color: #57AE09; */
  /* } */

  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }

  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }


  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #83858c;
  }

  .sidebar-navigation li .fa {
    margin-right: 10px;
  }

  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }

/* cor da nav bar */
  .sidebar-navigation li::before  {
    background-color:  #57AE09;
    color:  #ffffff;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.3s ease-in;
    width: 3px;
    z-index: -1;
  }

  .sidebar-navigation li:hover::before {
    width: 100%;

  }

  .sidebar-navigation-projeto li::before  {
    background-color:  #57AE09;
    color:  #ffffff;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.3s ease-in;
    width: 3px;
    z-index: -1;
  }

  .sidebar-navigation-projeto li:hover::before {
    width: 100%;

  }


  /* cor da navbar */

  .sidebar-navigation li a:hover{
    color: #ffffff;
  }

  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color:  #EAEBED;
    padding: 10px 15px 10px 30px;
  }

  .sidebar-navigation .header::before {
    background-color: transparent;
  }

  .content-container {
    padding-left: 220px;
  }


 /* botao */
.teste{
  background-color:  #57AE09;
  color:  #EAEBED;
  height: auto;
  /* width: 60px; */
  line-height: 30px;
  padding: 0 20px;
  border-radius: 60px;
}


.p {
  margin-top: 5cm;
}

/* barra de rolagem
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  width: 12px;
  box-shadow: inset 0 0 .3rem #57AE09;
  background-color: #57AE09;
}

*::-webkit-scrollbar-thumb {
  background-color: #E3E3E3;
}

:root {
  scrollbar-color: #E3E3E3 #1D1C1A !important;
  scrollbar-width: thin !important;
} */


/* Linkedin e Github */
#app_cover
{
    position: absolute;
    /* top: 50px; */
    right: 0;
    left: 0;
    width: 230px;
   /*  margin: 0 auto; */
}

#app_cover:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.block
{
    float: left;
    width: 100px;
    display: block;
    position: relative;
    text-decoration: none;
}

.block:nth-child(2)
{
    /* margin: 0 10px; */
}

.card
{
    width: 90px;
    padding-bottom: 30px;
    background-size: cover;
    box-shadow: 0 10px 20px -5px #b6b6b6;
}

.c_c_card
{
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out width;
}

.block:hover .c_c_card
{
    width: 100%;
}

#c_fb
{
    background-color: #0a66c2;
}

#c_fb, #c_o_fb
{
    background-image: url("https://archive.org/download/thehimalayasingh_gmail_Mark_201905/mark.png");
}

.cc_card
{
    background-color: #fff;
}

#c_tw
{
    background-color: #24292f;
}

#c_tw, #c_o_tw
{
    background-image: url("https://archive.org/download/thehimalayasingh_gmail_Mark_201905/jack.png");
}

#c_gl
{
    background-color: #d93025;
}

#c_gl, #c_o_gl
{
    background-image: url("https://archive.org/download/larry_201905/larry.png");
}

.c_brand_logo
{
    color: #fff;
    font-size: 34px;
    padding: 30px 30px 0 30px;
}

#c_o_fb .c_brand_logo
{
    color: #4267b2;
}

#c_o_tw .c_brand_logo
{
    /* color: #1da1f2; */
}

#c_o_gl .c_brand_logo
{
    color: #d93025;
}

.c_brand_logo i
{
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    padding: 13px;
    margin: 0 auto;
    border-radius: 50%;
}

#c_fb .c_brand_logo i
{
    background-color: rgba(66, 103, 178, 0.79);
}

#c_tw .c_brand_logo i
{
    /* background-color: rgba(29, 161, 242, 0.79); */
}

#c_gl .c_brand_logo i
{
    background-color: rgba(217, 48, 37, 0.79);
}

.cc_card .c_brand_logo i
{
    background-color: rgba(255, 255, 255, 0.79);
}

.c_share_count
{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
    letter-spacing: 1px;
}

#c_o_fb .c_share_count
{
    color: #4267b2;
}

#c_o_tw .c_share_count
{
    color: #1da1f2;
}

#c_o_gl .c_share_count
{
    color: #d93025;
}

.c_share_link
{
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    max-width: 60px;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 3px;
}

#c_o_fb .c_share_link
{
    color: #4267b2;
    border-bottom-color: #4267b2;
}

#c_o_tw .c_share_link
{
    color: #1da1f2;
    border-bottom-color: #1da1f2;
}

#c_o_gl .c_share_link
{
    color: #d93025;
    border-bottom-color: #d93025;
}

#ytd_link
{
    position: relative;
    top: 50px;
    display: block;
    width: 166px;
    clear: both;
    color: #d93025;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 6px 14px 10px 14px;
    margin: 0 auto;
    margin-bottom:50px;
    background-color: #f8f8f8;
    border: 1px solid #d93025;
    border-radius: 2px;
}

#ytd_link i
{
    display: inline-block;
    width: 18px;
    margin-right: 6px;
    vertical-align: middle;
}
