<div class="product-navbar">
  <div class="margin-left row d-flex justify-content-around vw-100">
      <ul style="list-style-type: none;" class="d-flex justify-content-between vw-100">
          <li class="">
              <a href="#" class="">
                  <span>
                      Contato
                  </span>
              </a>
          </li>

          <li>
              <a href="#" class="mr-3">
                  Início
              </a>
          </li>
      </ul>
  </div>
</div>

<header class="navbar hero" role="banner">
  <div class="container">
      <div class="navbar-header">
          <a href="#" class="navbar-brand">
              <p>
                <img src="https://apimatic-io-cdn.azureedge.net/img/theme/ApimaticLogo.svg">
                  APIMATIC
              </p>
          </a>
      </div>
  </div>
</header>

<div id="about-main">
  <div class="jumbotron">
      <div class="jumbotron-inner">
          <div class="top-box">
              <div class="content-box">
                  <h1 class="text-center">
                      Sobre a EmpowerEnergy
                  </h1>
                  <p>
                    EmpowerEnergy é um projeto da ODS-7 Energia Acessível e Limpa, onde somos responsáveis a redirecionar para outros novos projetos para garantir o financiamento, graças nós, conseguimos criar uma rede social baseada em pessoas que tem algo muito comum e especifico, conviver em um planeta mais sustentável
                  </p>
              </div>
          </div>
      </div>
      <div class="img-layer-container">
          <div class="team-image" id="team-image">
              <img src="https://imgur.com/xODabzr"><img src="https://i.imgur.com/xODabzr.jpg">
          </div>

          <div class="circles-container">
              <div class="img-1">
                  <img src="https://apimatic.io/img/theme/aboutUs/Circles-1-1.svg" />
              </div>
              <div class="img-2">
                  <img src="https://apimatic.io/img/theme/aboutUs/Circles-2-1.svg" />
              </div>
          </div>
      </div>
  </div>
  <div class="story-container">
      <div class="need-for-dx-container">
          <h3 class="text-center">
              Você precisa da EmpowerEnergy!
          </h3>
          <p>
              Todos os Desenvolvedores do site, temos o imenso prazer em conseguir proporcionar ao site um ambiente muito intuitivo e agradável para usufluir da melhor experiência de navegação do site.
  </div>
</div>
