.position{
  left: 1345px;
}
.position-title{
  position: absolute;
  text-align: center;
}
.sobre-nos-color{
 color: 81ecec;
}
.fa-github-icone{
font-size: 80px;
background-color: #81ecec;
top: 10px;
size: 80px;
}
.div-sobre{
  background-color: transparent !important;
  margin-bottom: 0%;
}
.carrosel-borda{
  border-radius: 100px;
  max-height: 200px;
}

.card-classe{
size: 100px;
}

.img-centralizada{
  right: 100px;
}
.altura-img{
  height: 750px;
}
.btn-space{
padding: 0.25rem;
}

/* header */

.header__logo{
  min-height: 1vh;
  height: 5px;
  width: 5%;
}

.collapse{
  display: block;
 }

/*menu header*/
.header{
  padding: 30px 25px;
}
.header__elenco {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header__menu {
    float: right;
}
.header__el{
    padding: 0 25px;
    display: inline-block;
}
.header__img{
  display: inline-block;
  vertical-align: middle;
}

.header__logo, .header__menu{
  display: inline-block;
  vertical-align: middle;
}
.header__title{
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.header__light{
  color: #8198ae;
}
.header__link{
  color: #1f4568;
  font-size: 14px;

}
.header__link:hover{
  text-decoration: none;
  color:#3a9fff;
}


