.btn{
  background-color:#57ae09;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.2);
  transition: all 0.4s;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-ms-transition: all 0.4s;
-o-transition: all 0.4s;
}

.btn-github {
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn:hover{
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
  background-color: #57ae09;
  color: #fff;
  }

  .price-box__wrap:hover .btn {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
  }

  .btn--revert{
      background-color:transparent;
      color: #57ae09;
      box-shadow: none;
      border:1px solid #c9d9e9;
  }

  .btn--revert:hover{
      background-color:transparent;
      color: #57ae09;
      box-shadow: none;
      border:1px solid #57ae09;
  }


  .btn--purple {
      background-color: #8a3aff;
  }

  .btn--purple:hover{
      background-color: #b284f6;
  }

  .btn--violet {
      background-color: #6f79ff;
  }
  .btn--violet:hover {
      background-color: #878ef3;
  }

  .btn--blue {
      background-color: #57ae09;
  }
  .btn--blue:hover {
      background-color: #57ae09;
  }
  .btn--width{
    width: 120px;
  }

  .btn--white{
    background-color: #fff;
    border: 1px solid #ededed;
    color: #57ae09;
  }

  .btn--white:hover{
    background-color: #57ae09;
    color: white;
  }

  .price-box__btn {
      position: absolute;
      bottom: -17px;
      left: 50%;
      margin-left: -55px;
  }

.position{
  left: 1345px;
}
.position-title{
  position: absolute;
  text-align: center;
}
.sobre-nos-color{
 color: 81ecec;
}
.fa-github-icone{
font-size: 80px;
background-color: #81ecec;
top: 10px;
size: 80px;
}
.div-sobre{
  background-color: transparent !important;
  margin-bottom: 0%;
}
.carrosel-borda{
  border-radius: 100px;
  max-height: 200px;
}

.card-classe{
size: 100px;
}

.img-centralizada{
  right: 100px;
}
.altura-img{
  height: 750px;
}
.btn-space{
padding: 0.25rem;
}

.site__box-link .btn--revert{
  margin-left: 15px;
}

.btn--revert{
  background-color:transparent;
  color: #8198ae;
  box-shadow: none;
  border:1px solid #c9d9e9;
}

.btn--revert:hover{
  background-color:transparent;
  color: #57ae09;
  box-shadow: none;
  border:1px solid #57ae09;
}


.btn--purple {
  background-color: #8a3aff;
}

.btn--purple:hover{
  background-color: #b284f6;
}

.btn--violet {
  background-color: #6f79ff;
}
.btn--violet:hover {
  background-color: #878ef3;
}

.btn--blue {
  background-color: #3a9fff;
}
.btn--blue:hover {
  background-color: #57ae09;
}
.btn--width{
width: 120px;
}

.btn--white{
background-color: #fff;
border: 1px solid #ededed;
color: #8198ae;
}

.btn--white:hover{
background-color: #57ae09;
color: white;
}

/* header */

.header__logo{
  min-height: 1vh;
  height: 5px;
  width: 5%;
}

.collapse{
  display: block;
 }

/*menu header*/
.header{
  padding: 30px 25px;
}
.header__elenco {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header__menu {
    float: right;
}
.header__el{
    padding: 0 25px;
    display: inline-block;
}
.header__img{
  display: inline-block;
  vertical-align: middle;
}

.header__logo, .header__menu{
  display: inline-block;
  vertical-align: middle;
}
.header__title{
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.header__light{
  color: #8198ae;
}
.header__link{
  color: #1f4568;
  font-size: 14px;

}
.header__link:hover{
  text-decoration: none;
  color:#57ae09;
}

.esp-btn{
  margin-bottom: 20px;
}
.esp-pb{
  padding-bottom: 5px;
}
.mt-evelyn{
  margin-top: -3px;
}
.btn-espaço{
margin-right: 10px;
}

/* footer */

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}
