.position{
  left: 1345px;
}
.position-title{
  position: absolute;
  text-align: center;
}
.sobre-nos-color{
 color: 81ecec;
}
.fa-github-icone{
font-size: 80px;
background-color: #81ecec;
top: 10px;
size: 80px;
}
.div-sobre{
  background-color: transparent !important;
  margin-bottom: 0%;
}
.carrosel-borda{
  border-radius: 100px;
  max-height: 200px;
}

.card-classe{
size: 100px;
}

.img-centralizada{
  right: 100px;
}
.altura-img{
  height: 750px;
}
.btn-space{
padding: 0.25rem;
}
