<!-- navbar header -->

<header class="header" style="padding-top: 10px">
  <div class="container header__container">
    <div class="header__logo">
      <div>
        <img
          style="width: 15vw; margin-top: -2px; margin-left: -103px"
          class="header__img"
          src="/assets/img/logobranco.svg"
        />
      </div>
    </div>

    <div class="header__menu">
      <nav id="navbar" class="header__nav collapse">
        <ul class="header__elenco">
          <li class="header__el">
            <a href="#" class="header__link">Home</a>
          </li>
          <li class="header__el">
            <a routerLink="/sobre" class="header__link">Sobre nós</a>
          </li>
          <li class="header__el header__el--blue">
            <a
              href=""
              routerLink="/entrar"
              class="btn btn--white btn-espaço mr-2"
              >Login →</a
            >
            <a href="" routerLink="/cadastrar" class="btn btn--white ml-2"
              >Cadastrar →</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- <div class="sect sect--padding-top"></div> -->
<!--   <div class="row ml-5 p-4"></div> -->

<!-- Card de exibição -->

<div class="sect sect--padding-top" style="background-color: #c2a83e">
  <div class="container">
    <div class="d-flex">
      <div class="row">
        <div class="col-md-9">
          <div class="mt-5 mb-3">
            <h4 class="title" style="color: #254330">
              O amanhã precisa ser sustentável!
            </h4>
            <h5 class="text-white">
              A Rede Social EmpowerEnergy é um Projeto Integrador da Generation
              Brasil baseado na ODS-7, sobre Energia Acessível e Limpa, onde
              somos responsáveis a redirecionar para outros novos projetos para
              garantir o financiamento, graças nós, conseguimos criar uma rede
              social baseada em pessoas que tem algo muito comum e especifico,
              conviver em um planeta mais sustentável.
            </h5>
          </div>
        </div>
      </div>
      <img
        class="col-md-4 justify-content-center"
        src="https://static.wixstatic.com/media/9f7d66_aa2f0fdc87e14154b81feff87b23b714~mv2.png/v1/fill/w_559,h_559,al_c,lg_1,q_85/ods_logo_icon-min.webp"
        width="200px"
        height="300px"
        style=""
      />
    </div>
  </div>
  <div class="col-md-4"></div>
  <hr />

  <!-- card do people -->
  <div class="sect sect--padding-top" style="background-color: #254330">
    <div class="row ml-5 p-4 justify-content-center">
      <h1 style="color: #c2a83e">Equipe EmpowerEnergy</h1>
    </div>
  </div>
  <div class="container-fluid text-center" style="background-color: #254330">
    <div class="card-group container">
      <div class="card bg-transparent mr-3">
        <img
          src="../../assets/img/lucas.jpg"
          class="card-img-top mt-5 rounded-circle"
          alt="Lucas Reis"
        />
        <div class="card-body bg-transparent p-0 mt-6 esp-btn">
          <h5 class="card-title text-white mt-2">Lucas Reis</h5>
          <a
            class="btn btn-primary card-link fa fa-linkedin-square fa-2x"
            href="https://www.linkedin.com/in/lucasreis727/"
            target="_blank"
          >
            LinkedIn
          </a>
        </div>

        <div class="card-body bg-transparent p-0">
          <a
            class="btn btn-light card-link fa fa-github-square fa-2x"
            href="https://github.com/therealkaslow"
            target="_blank"
          >
            GitHub
          </a>
        </div>
      </div>

      <div class="card bg-transparent mr-3">
        <img
          src="../../assets/img/young caique.jpeg"
          class="card-img-top mt-5 rounded-circle"
          alt="Caique Bezerra"
        />
        <div class="card-body bg-transparent p-0 mt-6 esp-btn">
          <h5 class="card-title text-white mt-2">Caique Bezerra</h5>
          <a
            class="btn btn-primary card-link fa fa-linkedin-square fa-2x"
            href="https://www.linkedin.com/in/caiquebezerra/"
            target="_blank"
            >LinkedIn</a
          >
        </div>

        <div class="card-body bg-transparent p-0">
          <a
            class="btn btn-light card-link fa fa-github-square fa-2x"
            href="https://github.com/caiqueb05"
            target="_blank"
          >
            GitHub
          </a>
        </div>
      </div>

      <div class="card bg-transparent">
        <img
          src="../../assets/img/eve.jpeg"
          class="card-img-top mt-5 rounded-circle"
          alt="Evelyn Arruda"
        />
        <div class="card-body esp-pb esp-btn mt-n2 esp-linkedin">
          <h5 class="card-title text-white p-0  mt-evelyn">Evelyn Arruda</h5>
          <a
            class="btn btn-primary card-link fa fa-linkedin-square fa-2x"
            href="https://www.linkedin.com/in/evelyn-arruda-silva-846306196/"
            target="_blank"
            >LinkedIn</a
          >
        </div>

        <div class="card-body bg-transparent p-0">
          <a
            class="btn btn-light card-link fa fa-github-square fa-2x"
            href="https://github.com/evelynarruda"
            target="_blank"
          >
            GitHub
          </a>
        </div>
      </div>
    </div>

    <div class="card-group mt-5 container">
      <div class="card bg-transparent mr-2">
        <img
          src="../../assets/img/ronan man.jpeg"
          class="card-img-top rounded-circle"
          alt="Ronan Bédia"
        />
        <div class="card-body pb-n10 esp-pb esp-btn">
          <h5 class="card-title text-white">Ronan Bédia</h5>
          <a
            class="btn btn-primary card-link fa fa-linkedin-square fa-2x"
            href="https://www.linkedin.com/in/ronan-bedia-74a444180/"
            target="_blank"
            >LinkedIn</a
          >
        </div>

        <div class="card-body bg-transparent p-0">
          <a
            class="btn btn-light card-link fa fa-github-square fa-2x"
            href="https://github.com/ronanbedia"
            target="_blank"
            >GitHub</a
          >
        </div>
      </div>

      <div class="card bg-transparent mr-3">
        <img
          src="../../assets/img/kau.jpeg"
          class="card-img-top rounded-circle"
          alt="Kauana Andrade"
        />
        <div class="card-body bg-transparent esp-pb esp-btn">
          <h5 class="card-title text-white">Kauana Andrade</h5>
          <a
            class="btn btn-primary card-link fa fa-linkedin-square fa-2x"
            href="https://www.linkedin.com/in/kauana-andrade/"
            target="_blank"
          >
            LinkedIn
          </a>
        </div>

        <div class="card-body bg-transparent p-0">
          <a
            class="btn btn-light card-link fa fa-github-square fa-2x"
            href="https://github.com/kauanaandrade"
            target="_blank"
          >
            GitHub
          </a>
        </div>
      </div>

      <div class="card bg-transparent">
        <img
          src="../../assets/img/leonardo azevedo.jfif"
          class="card-img-top rounded-circle"
          alt="Leonardo Azevedo"
        />
        <div class="card-body bg-transparent esp-pb esp-btn">
          <h5 class="card-title text-white mt-1">Leonardo Azevedo</h5>
          <a
            class="btn btn-primary card-link fa fa-linkedin-square fa-2x"
            href="https://www.linkedin.com/in/leonardo-azevedo-991ab513a/"
            target="_blank"
          >
            LinkedIn
          </a>
        </div>

        <div class="card-body bg-transparent p-0">
          <a
            class="btn btn-light card-link fa fa-github-square fa-2x"
            href="https://github.com/lleonardoazevedo"
            target="_blank"
          >
            GitHub
          </a>
        </div>
      </div>
    </div>
    <!-- card do people -->

    <!-- Github Icone -->
    <div class="sect sect--padding-top">
      <div class="container" style="background-color: #254330">
        <h4 class="text-center mt-5" style="color: #c2a83e">
          GitHub do Projeto
        </h4>
        <div class="justify-content-center fa-5x">
          <a
            class="btn-github btn-outline-success"
            href="https://github.com/Projeto-Integrador-EmpowerEnergy"
            target="_blank"
          >
            <i
              class="fa fa-github bg-transparent img-centralizada ml-200"
              style="color: black"
            ></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
