.margint-10{
  margin-top: 9vh;
}

.postagem-container{
  background-color: #EAEBED;
  height: auto;
}

.size-img{
  width: 25px;
  height: 25px;
}

#img-rouded{
  border: 2px solid black;
  border-radius: 50%;
}

