.margint-10{
  margin-top: 9vh;
}

.postagem-container{
  background-color: #EAEBED;
  height: auto;
  /* width: 100vw; */
 margin-left: -45px;
}

.tam{
  margin-left: -15px;
  height: auto;
  /* margin-right: -1100px; */
}

.size-img{
  width: 25px;
  height: 25px;
}

#img-rouded{
  border: 2px solid black;
  border-radius: 50%;
}

