<div class="container-fluid">

    <div class="row">
        
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6"></div>
                <h1 class="fs-54"> Seja Bem vindo a Empower Energy! </h1>
                <h5>Comente aqui o seus projetos e opniões!</h5>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
        <div class="col-md-6">

        </div>
    </div>
    </div>
</div>
